.visitor_card {
  border: 1px solid black;
  border-radius: 7px;
  padding: var(--spacing);
}
.profile_img_container {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}
.profile_image {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}
.name { 
  padding: 0px var(--spacing);
  font-size: 1rem;
  font-weight: 600;
}
.totalviews {
  font-size: 0.8rem;
  font-weight: 600;
}