.grouplike_page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}
.reaction_list_image {
  width: 20px;
  height: 20px;
}
.group_list_image {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 7px 12px;
  cursor: pointer;
}
.group_list_image_active {
  border-bottom: 2px solid rgb(43, 116, 252);
}