.comment_reply_container {
  width: 400px;
  position: relative;
}
.reply_input_field {
  width: 350px;
  height: 38px;
  border-radius: 7px;
  outline: none;
  border: 1px solid black;
  padding-left: 90px;
  font-size: 0.85rem;
}
.nomal_input {
  padding-left: 5px;
}
.user_tag {
  font-size: 0.6rem;
  border: 1px solid royalblue;
  padding: 3px 12px;
  background-color: royalblue;
  color: white;
  border-radius: 20px;
  position: absolute;
  top: 8px;
  left: 5px;
  z-index: 1;
}

.reply_btn, .close_reply_btn {
  color: white;
  border-radius: 7px;
  background-color: royalblue;
  font-size: 0.85rem !important;
  font-weight: 500;
  width: 70px;
  height: 35px;
  margin: 7px 3px;
}
.close_reply_btn {
  background-color: crimson !important;
}
.reply_cmnt_icons_container {
}