.comment_card {
  width: fit-content;
  min-width: 100px;
  max-width: 300px;
  margin: var(--spacing) 0;
  background-color: var(--lightGrey);
  padding: 7px 18px;
  border-radius: 5px;
}
.comment_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.comment_profile_avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.comment_name {
 font-size: 0.8rem;
 font-weight: 600; 
 padding: 0 10px;
}
.comment_date {
  font-size: 0.6rem;
  font-weight: 500;
  color: var(--greyText);
}
.comment_body {
  font-size: 0.985rem;
  font-weight: 600;
  padding: 5px 7px;
}
.comment_footer_btn {
  font-size: 0.72rem !important;
  font-weight: 600 !important;
  margin: 0px 7px;
  color: black !important;
}
.count {
  color: black !important;
  font-weight: 700;
}
.pinned_comment {
  font-size: 0.6rem;
  font-weight: 600;
  margin-bottom: 70px !important;
  color: var(--blue);
}
.comment_like_btn_active {
  color: crimson !important;
}
.comment_dislike_btn_active {
  color: darkorange !important;
  font-size: 0.72rem !important;
  font-weight: 600 !important;
  margin: 0px 7px;
}
.reply_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.gif_btn, .file_btn, .emoji_btn {
  color: black;
  font-size: 1.2rem;
  cursor: pointer !important;
}
.file_btn {
  font-size: 1rem !important;
  margin-top: 9px;
  margin-right: 5px;
}
.send_btn {
  background-color: var(--blue);
  font-size: 0.85rem;
  padding: 7px 15px;
  color: white;
  font-weight: 500;
  border-radius: 7px;
}
.input_container {
  width: 100%;
}
.reply_header {
  width: 100%;
}
.reply_input {
  width: 100%;
  height: 40px;
  /* padding-left: 120px; */
  border: 1px solid rgb(180, 180, 180);
  border-radius: 7px;
}
.nameTag {
  width: fit-content;
  background-color: var(--blue) !important;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 5px 12px;
  color: white !important;
  border-radius: 12px;
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 2px;
}
.close_tag_btn {
  color: white !important;
  font-size: 0.7rem;
  padding: 0 !important;
}
.reply_btn {
  font-size: 0.75rem;
  color: white !important;
  background-color: var(--blue);
  padding: 6px 12px;
  border-radius: 5px;
  margin-top: 5px;
}
.reply_btn_disable {
  background-color: var(--blueLight) !important;
  cursor: no-drop !important;
}
.comment_img {
  width: 350px;
  height: 200px;
  border-radius: 7px;
  margin-top: 7px;
}
.prev_img {
  /* border: 1px solid black; */
  width: 250px;
  height: 150px;
  border-radius: 7px;
  margin: 0px auto;
  position: relative;
}
.comment_img_close_btn {
  /* border: 1px solid black; */
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.718);
  color: white !important;
  border-radius: 50%;
  padding: 4px 8px;
}
.__comment_img_prev, .comment_img_prev_box {
  width: 250px;
  height: 150px;
  border-radius: 7px;
}
.comment_img_prev_box {
  margin: 0px auto;
  position: relative;
}
.preview_image_container {
  width: 100%;
  height: auto;
  margin: 12px auto;
  text-align: center;
}
.__close_btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(100, 148, 237, 0.405);
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  color: white !important;
}

.reply_msg {
  font-weight: 400;
  font-size: 0.75rem;
  margin-bottom: var(--spacing);
  color: #4834d4;
}
.reply_msg_name {
  font-weight: 700;
}
.btn_spinner {
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {transform: rotate(180deg);}
}
.__reply_container {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.__input_container {
  width: 100%;
}
.__reply_btns {
  display: flex;
  align-items: center;
}
.reply_container_box {
  max-width: fit-content;
  padding: 10px;
  border-radius: 7px;
  background-color: #2ed57438;
  margin: 7px 0;
}
.reply_contajiner_header {
  width: 100%;
  display: flex;
  align-items: center;
}
.reply_card_user_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}
.replycard_user_name {
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 8px;
}
.replycard_user_username, .reply_card_time {
  font-size: 0.75rem;
  color: var(--greyText);
  font-weight: 400;
  margin-right: 7px;
}
.reply_container_body {
  font-weight: 500;
  font-size: 0.8rem;
  width: 100%;
  margin: 7px 0;
}
.reply_button {
  color: black !important;
  font-size: 0.75rem;
  font-weight: 500;
} 
.pinned_msg {
  font-size: 0.6rem;
  font-weight: 500;
  margin-bottom: 12px;
  color: #4834d4;
}
.hide_reply_msg {
  text-align: center;
  font-weight: 500;
  font-size: 0.85rem;
}
.reply_user_tag {
  font-size: 0.75rem;
  font-weight: 600;
}
.username_tag {
  border: 1px solid var(--blue);
  padding: 5px 15px;
  color: white;
  background-color: var(--blue);
  border-radius: 5px;
  margin-left: 5px;
}
.tag_close_icon {
  font-weight: 600;
  font-size: 1.02rem;
  margin-left: 5px;
}
.reply_tag_msg {
  font-size: 0.7rem;
  margin-bottom: 7px;
  font-weight: 400;
  color: var(--blue);
}
.reply_tag_msg_link {
  font-weight: 600;
}
.anchor_name {
  color: var(--blue) !important;
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 5px !important;
}