/** @format */

.__registerPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register_form_section {
  max-width: 380px;
  width: 100%;
  height: auto;
  padding: 7px;
}
.register_form_header_section {
  line-height: 25px;
  text-align: center;
}
.register_form_header_text {
  font-size: 1.8rem;
  font-weight: 500;
}
.register_form_error_msg {
  font-weight: 400;
  color: crimson;
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  line-height: 12px;
  margin-top: 7px;
}
.register_links_section {
  text-align: right;
}
.__login_link {
  color: black !important;
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  word-spacing: 0.2px;
}
.__logibn_btn {
  background-color: royalblue !important;
}
